body {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #9e9e9e;
}
  
#clock {
    overflow: hidden;
    background-size: cover;
    border: 25px solid black;
    background-position: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 7px black;
    width: 400px;
    height: 400px;
    background-color: #483DC1;

    background-image: url(../assets/numeralRelogio.png);
    background-color: cornflowerblue;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

#center {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    margin: auto;
    box-shadow: 0px 0px 2px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #000;
  }
  
  #seconds {
    z-index: 8;
    position: absolute;
    margin: 55px 197px;
    box-shadow: 0px 0px 2px;
    border-radius: 6px;
    transform-origin: 3px bottom;
    width: 5px;
    height: 145px;
    background-color: #bc0a24;
    transform: rotate(45deg);
  }
  
  #minutes {
    z-index: 6;
    position: absolute;
    margin: 65px 195px;
    box-shadow: 0px 0px 2px;
    border-radius: 6px;
    transform-origin: 5px bottom;
    width: 10px;
    height: 135px;
    background-color: #000;
    transform: rotate(90deg);
  }
  
  #hours {
    z-index: 4;
    margin: 100px 195px;
    position: absolute;
    box-shadow: 0px 0px 2px;
    border-radius: 6px;
    transform-origin: 5px bottom;
    width: 10px;
    height: 100px;
    background-color: #000;
    transform: rotate(135deg);
  }